[submodule "ERC20/lib/forge-std"]
	path = ERC20/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ERC20/lib/openzeppelin-contracts"]
	path = ERC20/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "ERC721/lib/forge-std"]
	path = ERC721/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ERC721/lib/openzeppelin-contracts"]
	path = ERC721/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "ERC721/lib/foundry-devops"]
	path = ERC721/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "stablecoin/lib/forge-std"]
	path = stablecoin/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "stablecoin/lib/openzeppelin-contracts"]
	path = stablecoin/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "stablecoin/lib/foundry-devops"]
	path = stablecoin/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "stablecoin/lib/chainlink-brownie-contracts"]
	path = stablecoin/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "DAO/lib/forge-std"]
	path = DAO/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "DAO/lib/openzeppelin-contracts"]
	path = DAO/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "decentralized-lottery/lib/forge-std"]
	path = decentralized-lottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "decentralized-lottery/lib/foundry-devops"]
	path = decentralized-lottery/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "decentralized-lottery/lib/chainlink-brownie-contracts"]
	path = decentralized-lottery/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "decentralized-lottery/lib/solmate"]
	path = decentralized-lottery/lib/solmate
	url = https://github.com/transmissions11/solmate
